@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $white;

  @include f400;
  font-size: 16px;
  line-height: 1;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;

  &:hover {
    text-decoration: underline;
  }
}

/* Vendors */

@import "vendor/swiper";
@import "vendor/fancybox";

/* Blocks */

@import "blocks/page";
@import "blocks/container";
@import "blocks/section";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/video";
@import "blocks/advantages";
@import "blocks/order";
@import "blocks/brands";
@import "blocks/benefits";
@import "blocks/guarantee";
@import "blocks/price";
@import "blocks/footer";
