.advantages__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include breakpoint($xlg-bp) {
    flex-direction: column;
    align-items: center;
  }
}

.advantages__item {
  display: flex;

  margin-bottom: 80px;

  @include breakpoint($xlg-bp) {
    flex-direction: column;
  }

  &-rectangle {
    position: relative;

    width: 59px;
    height: 125px;

    margin: 0 80px 25px 30px;

    background-color: #dcdcdc;

    transform: skewX(-25deg);

    &--black {
      background-color: $black;
    }

    @include breakpoint($sm-bp) {
      width: 40px;
      height: 79px;
    }
  }

  &-lines {
    display: none;

    margin-left: 100px;
    margin-top: 10px;

    transform: skewX(25deg);

    @include breakpoint($xlg-bp) {
      display: block;
    }

    @include breakpoint($sm-bp) {
      margin-left: 70px;
      margin-top: -15px;
    }
  }

  &-num {
    position: absolute;
    left: 6px;
    top: 50%;
    z-index: 1;

    @include f800;
    font-size: 50px;
    color: $white;

    transform: translateY(-50%) skewX(25deg);

    @include breakpoint($sm-bp) {
      font-size: 36px;

      left: 3px;
    }
  }

  &-content {
    max-width: 335px;

    @include breakpoint($xlg-bp) {
      max-width: 935px;
    }
  }

  &-title {
    @include f400;
    font-size: 30px;
    line-height: 36px;

    margin-bottom: 11px;

    @include breakpoint($sm-bp) {
      font-size: 27px;
      line-height: 32px;
    }
  }

  &-text {
    font-size: 16px;
    line-height: 19px;
  }
}
