.benefits {
  position: relative;

  background: url(/assets/images/rectangles.png) $black no-repeat bottom right
    250px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 150px;
    z-index: 1;

    width: 638px;
    height: 306px;

    background: url(/assets/images/benefits/benefits-lines.svg) no-repeat right;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 335px;

    margin-bottom: 60px;

    &:not(:nth-child(3n + 3)) {
      margin-right: 55px;
    }

    &-text {
      font-size: 24px;
      line-height: 29px;
      color: $white;
    }
  }

  &__icon {
    width: 65px;
    height: 65px;

    fill: #9898a7;

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 147px;
      height: 147px;

      border: 5px dashed #353542;
      border-radius: 50%;

      margin-bottom: 40px;
    }
  }
}
