.counters__inner {
  display: flex;
}

.counters__item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 314px;
  min-height: 314px;

  background: #f8f8f8;

  padding: 0 44px;

  @include breakpoint(900px) {
    min-height: 200px;
    padding: 0 10px;
  }

  @include breakpoint(672px) {
    min-height: auto;
    justify-content: flex-start;

    background: none;
  }

  @include breakpoint(425px) {
    // padding: ;
  }

  & + & {
    margin-left: 53px;

    @include breakpoint(900px) {
      margin-left: 20px;
    }

    @include breakpoint(425px) {
      margin-left: 0px;
    }
  }

  &--increased {
    transform: scale(1.15);

    @include breakpoint(900px) {
      transform: none;
    }

    &::before {
      content: "";
      position: absolute;
      right: 35px;
      top: -40px;
      z-index: 1;

      width: 98px;
      height: 127px;

      background: url(../images/likes.svg) no-repeat top center;

      @include breakpoint(900px) {
        display: none;
      }
    }
  }

  &-num {
    @include f800;
    font-size: 55px;
    line-height: 66px;
    color: $primary;

    margin-bottom: 16px;

    @include breakpoint(900px) {
      font-size: 50px;
    }

    &--increased {
      position: relative;

      font-size: 70px;
      line-height: 84px;

      margin-bottom: 11px;

      @include breakpoint(900px) {
        font-size: 50px;
        line-height: 66px;

        margin-bottom: 16px;
      }
    }
  }

  &-text {
    max-width: 200px;

    font-size: 20px;
    line-height: 24px;
    color: $black;

    margin-bottom: 14px;

    @include breakpoint(550px) {
      font-size: 14px;
      line-height: 16px;
    }

    &--increased {
      font-size: 24px;
      line-height: 29px;

      margin-bottom: 11px;

      @include breakpoint(900px) {
        font-size: 20px;
        line-height: 24px;
      }

      @include breakpoint(550px) {
        font-size: 14px;
        line-height: 16px;
      }
    }

    &--br {
      display: none;

      @include breakpoint(425px) {
        display: block;
      }
    }
  }
}
