.faq {
  padding-top: 0;

  background: url(../images/faq/faq-bg.png) no-repeat right 200px top 110px;

  @include breakpoint($xl-bp) {
    background: none;
  }
}

.faq__item {
  position: relative;
  max-width: 850px;

  background-color: #f8f8f8;

  padding: 20px 50px 23px 42px;
  margin-bottom: 20px;

  @include breakpoint(650px) {
    padding-left: 15px;
  }

  @include breakpoint($sm-bp) {
    padding-right: 30px;
  }

  cursor: pointer;

  &.hidden::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 100%;

    cursor: pointer;

    background: url(../images/faq/arrow-down.svg) no-repeat center;
    background-color: $black;

    @include breakpoint($sm-bp) {
      width: 25px;
    }
  }

  &.open::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 100%;

    cursor: pointer;

    background: url(../images/faq/arrow-up.svg) no-repeat center;
    background-color: $primary;

    transform: background rotateY(22deg);

    @include breakpoint($sm-bp) {
      width: 25px;
    }
  }

  &-title {
    max-width: 710px;

    font-size: 20px;
    line-height: 24px;

    @include breakpoint($sm-bp) {
      font-size: 18px;
    }
  }

  &-text {
    max-width: 710px;
    max-height: 0;

    font-size: 14px;
    line-height: 17px;

    margin-top: 0;

    overflow: hidden;
    transition: all 0.2s ease-out;
  }
}
