.faq {
  padding-top: 0;

  background: url(/assets/images/faq/faq-bg.png) no-repeat right 200px top 110px;
}

.faq__item {
  position: relative;
  max-width: 850px;

  background-color: #f8f8f8;

  padding: 20px 42px 23px;
  margin-bottom: 20px;

  cursor: pointer;

  &.hidden::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 100%;

    cursor: pointer;

    background: url(/assets/images/faq/arrow-down.svg) no-repeat center;
    background-color: $black;
  }

  &.open::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 100%;

    cursor: pointer;

    background: url(/assets/images/faq/arrow-up.svg) no-repeat center;
    background-color: $primary;

    transform: background rotateY(22deg);
  }

  &-title {
    max-width: 710px;

    font-size: 20px;
    line-height: 24px;
  }

  &-text {
    max-width: 710px;

    font-size: 14px;
    line-height: 17px;

    margin-top: 0;

    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
  }
}
