.order {
  position: relative;

  background: url(/assets/images/rectangles.png) $black no-repeat bottom center;

  padding: 50px 0;

  @include breakpoint($xlg-bp) {
    padding-top: 36px;
    padding-bottom: 300px;
  }

  &::before {
    content: "";
    width: 50px;
    height: 55px;

    position: absolute;
    top: -35px;
    left: 60%;
    z-index: 1;

    background-color: $primary;

    transform: skewX(25deg);

    @include breakpoint($sm-bp) {
      display: none;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    min-height: 260px;

    &::after {
      content: "";
      width: 178px;
      height: 174px;

      position: absolute;
      top: -30px;
      right: 100px;
      z-index: 1;

      background: url(/assets/images/order/pipe.png) no-repeat;

      @include breakpoint($xlg-bp) {
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__title {
    max-width: 815px;

    @include f700;
    font-size: 27px;
    line-height: 32px;
    color: $white;

    margin-bottom: 40px;

    @include breakpoint($sm-bp) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__footnote {
    font-size: 14px;
    line-height: 17px;
    color: $white;

    @include breakpoint(1170px) {
      text-align: center;
    }
  }
}

.order__form,
.order-photo__form,
.order-price__form {
  margin-bottom: 16px;

  & > * + * {
    margin-left: 25px;

    @include breakpoint(1170px) {
      margin-left: 0;
    }
  }

  &-input {
    width: 100%;
    max-width: 360px;
    height: 70px;

    padding: 20px 30px;

    background: #353542;
    border: none;

    color: $white;

    &::placeholder {
      font-size: 18px;
      line-height: 27px;
      color: $white;
    }

    @include breakpoint(1170px) {
      display: block;

      margin: 0 auto 33px;
    }
  }

  &-btn {
    width: 100%;
    max-width: 360px;
    height: 70px;

    background: $primary;
    border: none;

    font-size: 18px;
    line-height: 27px;
    color: $white;

    @include breakpoint(1170px) {
      display: block;

      margin: 0 auto;
    }
  }
}

// Order-photo styles

.order-photo {
  padding-top: 90px;

  &__title {
    max-width: 560px;

    @include f700;
    font-size: 27px;
    line-height: 32px;
    color: $black;

    margin-bottom: 25px;
  }

  &__form-input {
    background: #f8f8f8;

    &::placeholder {
      color: $black;
    }
  }
}

.order-photo__form-file {
  font-size: 10px;
  margin: 0;
  padding: 0;

  display: none;
}

.order-photo__label-file {
  display: block;
  position: relative;

  cursor: pointer;

  margin-top: 10px;
  margin-left: 0;
  padding-left: 36px;

  font-size: 16px;
  line-height: 24px;
  color: $primary;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    width: 23px;
    height: 23px;

    background: url(/assets/images/clip.png) no-repeat center;
  }
}

// Order-price styles

.order-price {
  padding: 85px 0;

  background: url(/assets/images/rectangles.png) $black no-repeat bottom right;

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    min-height: 260px;

    &-icon {
      position: absolute;
      top: -100px;
      right: 40px;
      z-index: 1;

      fill: #353542;

      width: 142px;
      height: 142px;
    }
  }

  &__title {
    max-width: 960px;

    @include f700;
    font-size: 27px;
    line-height: 32px;
    color: $white;

    margin-bottom: 25px;
  }
}

.order-repair {
  position: relative;

  padding: 85px 0;

  background: url(/assets/images/order/repair-bg.png) $black no-repeat bottom
    right 250px;

  &::before {
    content: "";
    width: 50px;
    height: 55px;

    position: absolute;
    top: -35px;
    left: 50%;
    z-index: 1;

    background-color: $primary;

    transform: skewX(25deg);
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    min-height: 220px;

    &-icon {
      position: absolute;
      top: -100px;
      right: 40px;
      z-index: 1;

      fill: #353542;

      width: 142px;
      height: 142px;
    }
  }

  &__title {
    max-width: 750px;

    @include f700;
    font-size: 27px;
    line-height: 32px;
    color: $white;

    margin-bottom: 25px;
  }
}
