.price {
  background: #f8f8f8;

  &__inner {
    display: flex;
    justify-content: center;

    @include breakpoint($lg-bp) {
      flex-wrap: wrap;
    }
  }

  &__item {
    max-width: 360px;

    padding: 35px 42px;

    border-bottom: 9px solid $primary;
    background-color: $white;

    @include breakpoint($lg-bp) {
      width: 100%;
      max-width: 100%;

      padding: 30px;
    }

    &-title {
      min-height: 101px;

      font-size: 20px;
      line-height: 24px;
      color: $primary;

      padding-bottom: 26px;
      margin-bottom: 47px;

      border-bottom: 3px dashed $primary;

      @include breakpoint($lg-bp) {
        min-height: 0;

        margin-bottom: 35px;
      }
    }
  }

  &__item + &__item {
    margin-left: 30px;

    @include breakpoint($lg-bp) {
      margin-left: 0;
      margin-top: 30px;
    }
  }
}

.price-slider {
  display: flex;
}

.item-service {
  font-size: 16px;
  line-height: 19px;

  margin-bottom: 30px;

  &__text {
    margin-bottom: 15px;
  }

  &__price {
    display: block;
    margin-bottom: 15px;

    @include f700;
  }
}

// show more

.price-item__button-more {
  cursor: pointer;

  border: none;
  background-color: transparent;

  @include f700;
  font-size: 16px;
  line-height: 19px;
  color: $primary;

  margin-top: 20px;
}

.show-less--hidden {
  display: none;
}

.show-more--hidden {
  display: none;
}

.btn-hide {
  display: none;
}
