.reviews__inner {
  position: relative;

  padding-top: 60px;
}

.reviews__item {
  display: flex !important;

  width: 50%;
  max-width: 555px;

  padding: 36px 45px;

  background-color: #f8f8f8;

  &-img {
    width: 92px;
    height: 92px;

    object-fit: cover;

    border-radius: 50%;
  }

  &-content {
    max-width: 315px;
  }

  &-name {
    font-size: 24px;
    line-height: 29px;

    margin-bottom: 5px;
  }

  &-stars {
    width: 86px;
    height: 14px;

    fill: #ffde67;

    margin-bottom: 22px;
  }

  &-descr {
    font-size: 14px;
    line-height: 17px;
  }
}

.reviews__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 112px;
  height: 112px;

  padding: 10px;
  margin-right: 37px;

  border: 1px solid #000000;
  border-radius: 50%;
}
