section {
  padding: 70px 0 120px;

  @include breakpoint($md-bp) {
    padding: 60px 0 50px;
  }

  @include breakpoint($xs-bp) {
    padding: 50px 0 20px;
  }
}

.section__title {
  @include f700;
  font-size: 40px;
  line-height: 48px;
  color: $black;

  margin-bottom: 60px;

  @include breakpoint($md-bp) {
    font-size: 35px;
    line-height: 35px;
  }

  @include breakpoint($xs-bp) {
    font-size: 27px;
    line-height: 32px;
  }

  &--video {
    max-width: 540px;
  }

  &--advantages {
    max-width: 720px;
  }

  &--brands {
    max-width: 825px;

    margin-bottom: 0;
  }

  &--benefits {
    max-width: 600px;

    color: $white;
  }

  &--examples {
    max-width: 760px;
  }

  &--experts {
    color: $white;
  }

  &--counters {
    margin-bottom: 80px;
  }

  &--reviews {
    margin-bottom: 0;
  }
}
