.video__inner {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: -145px;
    bottom: -210px;
    z-index: 1;

    width: 638px;
    height: 306px;

    background: url(../images/bg-lines.svg) no-repeat right;

    @include breakpoint($md-bp) {
      display: none;
    }
  }
}

.video__img-wrapper {
  margin-bottom: 50px;
}

.video__img {
  width: 100%;
  max-width: 750px;
  height: auto;
}

.play-btn__wrapper {
  position: absolute;
  top: 50%;
  left: 63%;
  z-index: 1;

  width: 131px;
  height: 149px;

  background: $black;

  transform: translateY(-60%) skewX(-25deg);

  @include breakpoint($md-bp) {
    left: 50%;

    width: 100px;
    height: 120px;

    transform: translate(-50%, -50%) skewX(-25deg);
  }

  @include breakpoint($sm-bp) {
    width: 68px;
    height: 75px;
  }

  @include breakpoint($xs-bp) {
    width: 48px;
    height: 55px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -81px;
    left: 131px;

    width: 71px;
    height: 81px;

    background-color: #dcdcdc;

    @include breakpoint($md-bp) {
      display: none;
    }
  }
}

.play-btn__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  width: 27px;
  height: 35px;

  fill: $white;

  transform: translate(-50%, -50%) skewX(25deg);

  @include breakpoint($sm-bp) {
    width: 21px;
    height: 29px;
  }
  @include breakpoint($xs-bp) {
    width: 16px;
    height: 12px;
  }
}

.video__btn {
  width: 100%;
  max-width: 261px;
  height: 70px;

  font-size: 18px;
  line-height: 27px;
  color: $white;

  background-color: $primary;
  border: none;

  padding: 21px 60px;

  @include breakpoint($md-bp) {
    display: block;
    max-width: 345px;

    font-size: 16px;

    margin: 0 auto;
  }
}
