<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__logo">
                <svg class="footer__logo-img">
                    <use xlink:href="#logo"></use>
                </svg>
                <p class="footer__logo-text">Сантехнические услуги в Москве</p>
            </div>

            <div class="footer__social">
                <a class="footer__social-link" href="#">
                    <svg class="footer__social-icon footer__social-icon--vk">
                        <use xlink:href="#vk"></use>
                    </svg>
                </a>

                <a class="footer__social-link" href="#">
                    <svg class="footer__social-icon footer__social-icon--inst">
                        <use xlink:href="#inst"></use>
                    </svg>
                </a>

                <a class="footer__social-link" href="#">
                    <svg class="footer__social-icon footer__social-icon--youtube">
                        <use xlink:href="#youtube"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>