<header class="header">
    <!-- <div class="container"> -->
    <div class="header__inner">
        <div class="header__logo">
            <svg class="header__logo-img">
                <use xlink:href="#logo"></use>
            </svg>
            <p class="header__logo-text">Сантехнические услуги в Москве</p>
        </div>

        <nav class="menu">
            <div class="header__logo header__logo--mobile">
                <svg class="logo-mobile">
                    <use xlink:href="#logo-mobile"></use>
                </svg>
            </div>
            <ul class="menu__list">
                <li class="menu__list-item active">
                    <a class="menu__item-link" href="#">О компании</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__item-link" href="#">Наши преимущества</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__item-link" href="#">Услуги и цены</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__item-link" href="#">Проекты</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__item-link" href="#">Монтажники</a>
                </li>
            </ul>

            <div class="mobile-menu__social">
                <a class="mobile-menu__social-link" href="#">
                    <svg class="mobile-menu__social-icon mobile-menu__social-icon--vk">
                        <use xlink:href="#vk"></use>
                    </svg>
                </a>

                <a class="mobile-menu__social-link" href="#">
                    <svg class="mobile-menu__social-icon mobile-menu__social-icon--inst">
                        <use xlink:href="#inst"></use>
                    </svg>
                </a>

                <a class="mobile-menu__social-link" href="#">
                    <svg class="mobile-menu__social-icon mobile-menu__social-icon--youtube">
                        <use xlink:href="#youtube"></use>
                    </svg>
                </a>
            </div>

            <button class="mobile-menu__order-btn">Заказать звонок</button>
        </nav>

        <div class="burger-menu">
            <div class="burger"></div>
        </div>

        <div class="header__call">
            <a class="header__tel" href="tel:+74951082472">+7 (495) 108-24-72</a>
            <p class="header__call-order">Заказать звонок</p>
        </div>
    </div>
</header>