<div class="modal">
    <div class="modal__content">
        <img class="modal__icon-cancel" src="assets/images/cancel.svg" alt="" data-close>
        <h3 class="modal__title">Оставьте заявку и мы свяжемся с Вами в течени 10 минут</h3>
        <form class="modal__form" action="#">
            <input class="modal__form-input" type="text" placeholder="Введите имя" required>
            <input class="modal__form-input" type="text" placeholder="Введите Телефон" required>
            <button class=" modal__form-btn">Заказать звонок</button>
        </form>
    </div>
</div>